* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 50px 35;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-weight: bold;
    margin: 5px 0;
    font-size: 36px;
}

header a {
    text-decoration: none;
    padding: 10px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: normal;
    font-size: 1.55vw;
}

footer {
    width: 100%;
    font-size: 20px;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    padding: 10px;
}

article {
    background-image: url(./images/betteroff-086.jpg);
    background-size: cover;
    background-position: 60%;
    background-attachment: fixed;
    padding: 200px;
    width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
   }

article h2 {
    text-align: center;
    background-color: white;
    margin: 0 auto 35px auto;
    border-radius: 10px;
    width: 25%;
    color: black;  
}

article p {
    text-align: center;
    background-color: black;
    margin: 0 auto 35px auto;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    color: white;
}

section {
    width: 100%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section h2 {
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.image-div {
    width: 50%;
}

section img {
    margin: 0 auto 35px auto;
    width: 50%;
    border: 1px solid;
    border-radius: 4px;
    height: 25%;
}

